<!-- EN-TÊTE AVEC BREADCRUMB ET BOUTONS -->
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin mb-1">
  <nav class="page-breadcrumb cursor-pointer">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item active"><a>Liste des Rôles</a></li>
    </ol>
  </nav>

  <div class="d-flex justify-content-end align-items-center gap-2">
    <button type="button" class="btn btn-secondary btn-icon me-2" (click)="openAddRole(SearchRoleModal)">
      <i class="feather icon-search"></i>
    </button>
    <button type="button" class="btn btn-primary btn-icon-text" (click)="openAddRole(addRoleModal)">
      <i class="feather icon-plus-circle"></i> Nouveau Rôle
    </button>
  </div>
</div>

<!-- TABLEAU DES RÔLES -->
<div class="card mt-4">
  <div class="card-body p-0">
    <section class="table-container mat-elevation-z8" tabindex="0">

      <table mat-table [dataSource]="dataSource?.payload">

        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef class="table-head-text">Nom</th>
          <td mat-cell *matCellDef="let role">
            <span [ngSwitch]="role.nom">
                      
              <span *ngSwitchCase="'Admin'" class="text-primary">{{ role.nom }}</span>
              
              <span *ngSwitchCase="'Etudiant'" class="text-success">{{ role.nom }}</span>
              
              <span *ngSwitchCase="'Enseignant'" class="text-warning">{{ role.nom }}</span>

              <span *ngSwitchCase="'Chef-filiere'" class="text-danger">{{ role.nom }}</span>

              <span *ngSwitchCase="'Assistante'" class="text-info">{{ role.nom }}</span>
              
              <span *ngSwitchDefault class="text-infos">{{ role.nom }}</span>
          </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="table-head-text">Description</th>
          <td mat-cell *matCellDef="let role">{{ role?.description || role?.desc }}</td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="table-head-text">Actions</th>
          <td mat-cell *matCellDef="let role">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu d’actions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openEditRole(EditRoleModal, role)" class="text-warning">
                <mat-icon class="text-warning">edit</mat-icon>
                <span>Modifier</span>
              </button>
              <button mat-menu-item (click)="deleteRole(role)" class="text-danger">
                <mat-icon class="text-danger">delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-head-bg"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <span *ngIf="dataSource?.payload?.length === 0" class="paginate text-danger mt-4">
        Les critères de recherche ne correspondent à aucun rôle
      </span>

      <div class="paginate">
        <ngb-pagination
          [collectionSize]="dataSource?.metadata?.totalElements"
          [page]="pageOptions.page + 1"
          [pageSize]="pageOptions.size"
          [maxSize]="5"
          (pageChange)="paginate($event)"
          size="sm"
          [rotate]="true"
          [ellipses]="true"
          [boundaryLinks]="true">
        </ngb-pagination>
      </div>
    </section>
  </div>
</div>

<!-- MODALE : Recherche Rôle -->
<ng-template #SearchRoleModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Recherche Rôle</h5>
    <button type="button" class="btn-close"  (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-add-role (search)="doSearch($event)" [isSearch]="true" (submit)="close()"></app-add-role>
  </div>
  </ng-template>

<!-- MODALE : Nouveau Rôle -->
<ng-template #addRoleModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addRoleModalLabel">Ajouter Rôle</h5>
    <button type="button" class="btn-close" (click) = "modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-add-role [isSearch]="false" (submit)="close()"></app-add-role>
  </div>
</ng-template>

<!-- MODALE : Modifier Rôle -->
<ng-template #EditRoleModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editRoleModalLabel">Modifier Rôle</h5>
    <button type="button" class="btn-close" (click) = "modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-edit-role (submit)="close()" [roleToUpdate]="roleToUpdate"></app-edit-role>
  </div>
</ng-template>
