<section>
  <form [formGroup]="form">
    <div class="row">

      <!-- nom -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control form-control-lg" id="nom" placeholder="Entre votre nom" formControlName="nom">
        </div>
      </div>

      <!-- prenom -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="prenom" class="form-label">Prenom</label>
          <input type="text" class="form-control form-control-lg" id="prenom" placeholder="Entre votre prenom" formControlName="prenom">
        </div>
      </div>

      <!-- email -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control form-control-lg" id="email" placeholder="votre.email@gmail.com" formControlName="email">
        </div>
      </div>

      <!-- roles -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label  class="form-label">Role<small style="color: red;">*</small></label>
          <ng-select
            [items]="roles"
            bindLabel="label"
            bindValue="value"
            placeholder="Selectionner un role..."
            formControlName="role">
          </ng-select>
        </div>
      </div>

      <!-- password -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control form-control-lg" id="password" placeholder="Entre votre mot de passe" formControlName="password">
        </div>
      </div>

      <!-- password_confirmation -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="password" class="form-label">Confiramtion mot de passe</label>
          <input type="password" class="form-control form-control-lg" id="password_confirmation" placeholder="Comfirmer votre mot de passe" formControlName="password_confirmation">
        </div>
      </div>
   
    </div>
  </form>

  <!-- Boutons -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" *ngIf="!isSearch" (click)="create()" [disabled]="!form.valid">Enregistrer</button>
    <button type="button" class="btn btn-primary" *ngIf="isSearch" (click)="doSearch()">Rechercher</button>
  </div>
</section>